.app_dark_theme {
  --bg-color: #090949;
  --invert-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --invert-primary-color: #0232c2;
  --invert-secondary-color: #2a62dd;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
}
