.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--invert-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links,
.actions {
  margin-left: auto;
  align-items: center;
}

.mainLink {
  margin-right: 15px;
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}

